

.product-card{
  padding: 100px 0 0 22px;
  position: fixed;
  left: 54px;
  z-index: 10;

  &-content{
    background-color: #8C52FF;
    width: 270px;
    height: 450px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    .product-card-block{
      .product-title{
        text-align: center;
        color: white;
      }
      .product-main{
        .product-card-info{
          display: flex;
          align-items: center;
          margin-top: 20px;
          border: 1px solid white;
          width: 180px;
          height: 40px;
          border-radius: 20px;
          color: white;
          .product-icon{
            margin: 0 20px;
          }
        }
      }
    }
  }
}
